<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/edit.css">
</head>
<body>
    <h1>Edit Post</h1>
    <p>Post id: &nbsp;&nbsp;&nbsp;&nbsp; <%=post.id%> </p>
    <p>Username: <%= post.username %></p>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
        <textarea rows="5" cols="40" name="content"><%=post.content%></textarea><br>
        <button>Update</button>
    </form>
    <a href="http://localhost:8080/posts"> Back to Posts</a>

</body>
</html>